.Navbar {
  @apply sticky top-0 text-white bg-gray-800 flex justify-between items-center gap-8 pl-4 z-[9999] h-8
          sm:h-16;

  &__links {
    @apply fixed right-0 top-[-100%] flex-col gap-4 p-4 text-sm  bg-gray-800
            sm:static sm:flex sm:left-auto sm:top-auto sm:flex-row sm:text-base sm:w-auto;
    transition: 300ms;

    &__open {
      @apply top-8;
    }

    &__link {
      &__active {
        @apply bg-white text-gray-800;
      }
    }
  }

  &__title {
    @apply text-sm sm:text-2xl;
  }

  &__icons {
    @apply visible p-2 cursor-pointer
            sm:hidden sm:p-0;
  }
}
