.Navbar {
  @apply sticky top-0 text-white bg-gray-800 flex justify-between items-center gap-8 pl-4 z-[9999] h-10
         sm:h-16;

  &__unlogged_links {
    @apply text-sm p-4 sm:text-base sm:w-auto sm:p-8;
  }

  &__logged_links {
    @apply fixed left-0 w-full text-center top-[-100%] flex-col gap-4 p-4 text-sm  bg-gray-800 items-center
    sm:text-base sm:right-0 sm:left-auto sm:text-start sm:w-auto;

    transition: 300ms;

    &__open {
      @apply top-8 sm:top-16;
    }

    &__link {
      @apply cursor-pointer;
      &__active {
        @apply bg-white text-gray-800;
      }
    }
  }

  &__title {
    @apply text-sm sm:text-2xl;
  }

  &__icons {
    @apply visible p-2 cursor-pointer
           sm:hidden sm:p-0;
  }

  &__avatar {
    @apply w-12 h-12 m-4 rounded-full hidden
          sm:block sm:cursor-pointer;
  }
}
