.Form {
  @apply flex flex-col justify-center text-center w-2/3 m-4 p-8 items-center border-4
          sm:w-1/2
          xl:w-1/4;

  &__input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
  }

  &__submit {
    @apply text-white px-4 py-2 m-4 hover:cursor-pointer;
    background-color: rgb(148, 148, 151) !important;
  }

  &__submit:disabled {
    background-color: rgb(220, 220, 233) !important;
  }

  &__error {
    @apply text-red-600;
  }
}
